body {
    display: flex;
    flex-direction: column;
    margin: 0;
}


header,.hero-area, footer {
    background-color: #1F2937;
    color: white;
}

header {
    height: 72px;
    padding: 0px 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    gap: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

button {
    background-color: #3b82f6;
    color: white;
    border: 0;
    padding: 4px 18px;
    border-radius: 4px;
    border: 0.5px solid white;
}


.hero-area {
    /* height: 350px; */
    padding: 36px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.side-text {
    flex: 0 0 auto;
    width: 350px;
}

.hero-area img {
    flex: 0 1 auto;
    width: 350px;
    height: 250px;
    border: 3px solid #3b82f6;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}

.secondary-text {
    margin: 0;
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 8px;
}


.random {
    height: 350px;
    text-align: center;
}

.random h3 {
    font-size: 29px;
    font-weight: bolder;
}

.subtext {
    margin: 0;
}

.illustrations {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.illustrations img {
    width: 150px;
    height: 150px;
    border: 3px solid #3b82f6;
    border-radius: 4% ;
}

.illustrations li {
    width: 150px;
}


.quote {
    /* height: 350px; */
    padding: 84px 100px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    margin: 0;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.author {
    margin: 0;
    align-self: flex-end;
    font-size: large;
    font-weight: 800;
}


footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}